include ../../mixins/show-alert.pug
doctype html
html
  head
    title Login Page
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")
    link(rel="icon" type="image/x-icon" href="/admin/images/icon.jpg")
    link(rel='stylesheet', type='text/css', href='/admin/css/login.css')
  body
    .container
      +alertSuccess(5000)
      +alertError(5000)
      .d-flex.justify-content-center.h-100
        .card
          .card-header
            h3 Sign In
            .d-flex.justify-content-end.social_icon
              span
                i.fab.fa-facebook-square
              span
                i.fab.fa-google-plus-square
              span
                i.fab.fa-twitter-square
          .card-body
            form( action=`/${prefixAdmin}/login`
                  method="POST"
                )
              .input-group.form-group
                .input-group-prepend
                  span.input-group-text
                    i.fas.fa-envelope
                input.form-control(
                  type='email'  
                  id="email"
                  name="email"
                  required 
                  placeholder='Email'
                )
              .input-group.form-group
                .input-group-prepend
                  span.input-group-text
                    i.fas.fa-key
                input.form-control(
                  type='password'
                  id="password"
                  name="password"
                  placeholder='Password'
                )
              .row.align-items-center.remember
                input(type='checkbox')
                | Remember Me
              .form-group
                input.btn.float-right.login_btn(type='submit', value='Login')
          | &#x9;&#x9;&#x9;
          .card-footer
            .d-flex.justify-content-center.links
              | Don&apos;t have an account?
              a(href='#') Sign Up
            .d-flex.justify-content-center
              a(href='#') Forgot your password?
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js") 
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js")
    script(src='/admin/js/main.js')