extends ../../layouts/default.pug
block content 
    .container-fluid.mt-4
      .d-sm-flex.align-items-center.justify-content-between.mb-4
          h1.h3.mb-2.text-gray-800 Bảng quản lý danh mục
          a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(href='/admin/management/category/create')
            i.fas.fa-list-1-2.fa-sm.text-white-50
            |  Tạo danh mục mới
      // Page Heading
      p.mb-4
        | Bảng này giúp quản lý các danh mục trong App 
      // DataTales Example
      .card.shadow.mb-4
        .card-header.py-3
          h6.m-0.font-weight-bold.text-primary Danh mục
        .card-body
          .table-responsive
            table#dataTable.table.table-bordered(width='100%', cellspacing='0')
              thead
                tr
                    th STT
                    th Tên danh mục
                    th Mô tả
                    th Ngày tạo
                    th Hành động
              tbody
                if(categories.length>0)
                  each category, index in categories
                    tr
                      td #{(index+1)+(pagination.limitItems*(pagination.currentPage-1))}
                      td #{category.tenDanhMuc}
                      td !{category.moTa}
                      td #{category.ngayTao}
                      td
                        a.btn.btn-secondary.btn-sm(href=`/${prefixAdmin}/management/category/detail/${category.slug}`)
                          i.fas.fa-eye
                          |  Chi tiết
                        a.btn.btn-warning.btn-sm.ml-1(href=`/${prefixAdmin}/management/category/edit/${category.slug}`)
                          i.fas.fa-edit
                          |  Sửa
                        a.btn.btn-danger.btn-sm.ml-1(href=`/${prefixAdmin}/management/category/delete/${category.slug}`)
                          i.fas.fa-trash
                          |  Xóa 
                else
                  tr
                    td(colspan='5')
                      p.text-center Chưa có danh mục nào
        nav.ml-3
          ul(class="pagination")
            if(pagination.currentPage > 1)
              li(class="page-item")
                a(class="page-link" href=`/admin/management/category?page=${pagination.currentPage-1}`) Trang trước  
            - for (let index = 1; index <= pagination.totalPages; index++) 
                li(class=("page-item" + (pagination.currentPage == index ? " active" : "")))
                  a(class="page-link" href=`/admin/management/category?page=${index}`) #{index}
            if(pagination.currentPage < pagination.totalPages)
              li(class="page-item")
                a(class="page-link" href=`/admin/management/category?page=${pagination.currentPage+1}`) Trang sau