extends ../../layouts/default.pug
block content 
    .container-fluid.mt-4
      .d-sm-flex.align-items-center.justify-content-between.mb-4
          h1.h3.mb-2.text-gray-800 Bảng quản lý món ăn
          a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(href='/admin/management/food/create')
            i.fas.fa-utensils.fa-sm.text-white-50
            |  Tạo món ăn mới
      // Page Heading
      p.mb-4
        | Bảng này giúp quản lý các món ăn hiện có trong App 
      // DataTales Example
      .card.shadow.mb-4
        .card-header.py-3
          h6.m-0.font-weight-bold.text-primary Đồ ăn
        .card-body
          .table-responsive
            table#dataTable.table.table-bordered(width='100%', cellspacing='0')
              thead
                tr
                    th STT
                    th Hình ảnh
                    th Tên món ăn
                    th Giá tiền
                    th Số lượng
                    th Trạng thái
                    th Hành động
              tbody
                if(foods.length>0)
                  each food, index in foods
                    tr
                      td= index + 1
                      td
                        img.food-image(src=food.images, alt=food.name, width='100px')
                      td #{food.tenSanPham}
                      td #{food.giaTien}
                      td #{food.soLuong}
                      td
                        if(food.trangThai=='active')
                          a(href=`/admin/management/food/change-status/${food.slug}/inactive` class="badge badge-success"
                                  food-status=`inactive`) Hoạt động
                        else
                          a(href=`/admin/management/food/change-status/${food.slug}/active` class="badge badge-danger"
                              food-status=`active`) Dừng hoạt động
                      td
                        a.btn.btn-secondary.btn-sm(href=`/${prefixAdmin}/management/food/detail/${food.slug}`)
                          i.fas.fa-eye
                          |  Chi tiết
                        a.btn.btn-warning.btn-sm.ml-1(href=`/${prefixAdmin}/management/food/edit/${food.slug}`)
                          i.fas.fa-edit
                          |  Sửa
                        a.btn.btn-danger.btn-sm.ml-1(href=`/${prefixAdmin}/management/food/delete/${food.slug}`)
                          i.fas.fa-trash
                          |  Xóa
                else
                  tr
                    td(colspan='7')
                      p.text-center Chưa có món ăn nào
        nav.ml-3
          ul(class="pagination")
            if(pagination.currentPage > 1)
              li(class="page-item")
                a(class="page-link" href=`/admin/management/food?page=${pagination.currentPage-1}`) Trang trước  
            - for (let index = 1; index <= pagination.totalPages; index++) 
                li(class=("page-item" + (pagination.currentPage == index ? " active" : "")))
                  a(class="page-link" href=`/admin/management/food?page=${index}`) #{index}
            if(pagination.currentPage < pagination.totalPages)
              li(class="page-item")
                a(class="page-link" href=`/admin/management/food?page=${pagination.currentPage+1}`) Trang sau