extends ../../layouts/default.pug
block content 
    .container-fluid.mt-4
      .d-sm-flex.align-items-center.justify-content-between.mb-4
          h1.h3.mb-2.text-gray-800 <strong>Bảng quản lý nhân viên</strong>
          a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(href='/admin/management/staff/create')
            i.fas.fa-user-check.fa-sm.text-white-50
            |  Tạo tài khoản cho nhân viên
      // Page Heading
      p.mb-4
        | Bảng này giúp quản lý các nhân viên hiện đang làm việc trong App 
      // DataTales Example
      .card.shadow.mb-4
        .card-header.py-3
          h6.m-0.font-weight-bold.text-primary Nhân viên
        .card-body
          .table-responsive
            table#dataTable.table.table-bordered(width='100%', cellspacing='0')
              thead
                tr
                    th.text-center STT
                    th.text-center Họ tên
                    th.text-center Vai trò 
                    th.text-center Điện thoại
                    th.text-center Trạng thái
                    th.text-center Giới tính
                    th.text-center Hành động
              tbody
                if(listStaffs.length>0)
                  each staff, index in listStaffs
                    tr
                      td.text-center #{(index+1)+(pagination.limitItems*(pagination.currentPage-1))}
                      td #{staff.hoTen}
                      td.text-center #{staff.tenVaiTro}
                      td.text-center #{staff.sdt}
                      td.text-center
                        if(staff.trangThai == "active")
                          a(href=`/admin/management/staff/change-status/${staff.token}/inactive` class="badge badge-success"
                                  staff-id=`` staff-status=`inactive`) Hoạt động
                        else
                          a(href=`/admin/management/staff/change-status/${staff.token}/active` class="badge badge-danger"
                              staff-id=`` staff-status=`active`) Dừng hoạt động
                      td.text-center #{staff.gioiTinh}
                      td.text-center(style="display: flex; justify-content: space-between; align-items: center;")
                          a.btn.btn-secondary.btn-sm.btn-table(href=`/${prefixAdmin}/management/staff/detail/${staff.token}`, style="flex: 1; padding: 5px 10px; background-color: #6c757d; color: white; border-radius: 5px; text-decoration: none; display: flex; align-items: center; justify-content: center; margin-right: 10px;")
                              i.fas.fa-eye(style="margin-right: 5px;")
                              |  Chi tiết
                          a.btn.btn-warning.btn-sm.btn-table(href=`/${prefixAdmin}/management/staff/${staff.token}`, style="flex: 1; padding: 5px 10px; background-color: #ffc107; color: white; border-radius: 5px; text-decoration: none; display: flex; align-items: center; justify-content: center; margin-right: 10px;")
                              i.fas.fa-warning(style="margin-right: 5px;")
                              |  Cảnh báo
                          a.btn.btn-danger.btn-sm.btn-table(href=`#`, style="flex: 1; padding: 5px 10px; background-color: #dc3545; color: white; border-radius: 5px; text-decoration: none; display: flex; align-items: center; justify-content: center;" btn-delete-staff=staff.token)
                              i.fas.fa-trash(style="margin-right: 5px;")
                              |  Xóa tài khoản
                else
                  tr
                    td(colspan='7')
                      p.text-center Chưa có nhân viên nào
        nav.ml-3
          div(style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px; margin-right:20px")
            span
              | Trang #{pagination.currentPage} trong tổng số #{pagination.totalPages} trang
            ul(class="pagination" style="margin-top: 10px;")
              if(pagination.currentPage > 1)
                li(class="page-item")
                  a(class="page-link" href=`/admin/management/staff?page=${pagination.currentPage-1}`) Trang trước
              - for (let index = 1; index <= pagination.totalPages; index++) 
                li(class=("page-item" + (pagination.currentPage == index ? " active" : "")))
                  a(class="page-link" href=`/admin/management/staff?page=${index}`) #{index}
              if(pagination.currentPage < pagination.totalPages)
                li(class="page-item")
                  a(class="page-link" href=`/admin/management/staff?page=${pagination.currentPage+1}`) Trang sau

      