extends ../../layouts/default.pug
block content 
    .container-fluid.mt-4
      .d-sm-flex.align-items-center.justify-content-between.mb-4
          h1.h3.mb-2.text-gray-800 Bảng quản lý nhân viên
          a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(href='/admin/management/staff/create')
            i.fas.fa-user-check.fa-sm.text-white-50
            |  Tạo tài khoản cho nhân viên
      // Page Heading
      p.mb-4
        | Bảng này giúp quản lý các nhân viên hiện đang làm việc trong App 
      // DataTales Example
      .card.shadow.mb-4
        .card-header.py-3
          h6.m-0.font-weight-bold.text-primary Nhân viên
        .card-body
          .table-responsive
            table#dataTable.table.table-bordered(width='100%', cellspacing='0')
              thead
                tr
                    th STT
                    th Họ tên
                    th Vai trò 
                    th Điện thoại
                    th Trạng thái
                    th Giới tính
                    th Hành động
              tbody
                each staff, index in listStaffs
                  tr
                    td #{(index+1)+(pagination.limitItems*(pagination.currentPage-1))}
                    td #{staff.hoTen}
                    td #{staff.tenVaiTro}
                    td #{staff.sdt}
                    td
                      if(staff.trangThai == "active")
                        a(href=`/admin/management/staff/change-status/${staff.token}/inactive` class="badge badge-success"
                                staff-id=`` staff-status=`inactive`) Hoạt động
                      else
                        a(href=`/admin/management/staff/change-status/${staff.token}/active` class="badge badge-danger"
                            staff-id=`` staff-status=`active`) Dừng hoạt động
                    td #{staff.gioiTinh}
                    td 
                      a(
                          class="btn btn-secondary btn-sm"
                          href=`/${prefixAdmin}/accounts/detail/`
                      ) Chi tiết
                      a(
                          class="btn btn-warning btn-sm ml-1"
                          href=`/${prefixAdmin}/accounts/edit/`
                      ) Sửa
                      button(
                          class="btn btn-danger btn-sm ml-1"
                          button-delete=`/${prefixAdmin}/accounts/remove/`
                      ) Xóa
        nav.ml-3
          ul(class="pagination")
            if(pagination.currentPage > 1)
              li(class="page-item")
                a(class="page-link" href=`/admin/management/staff?page=${pagination.currentPage-1}`) Trang trước  
            - for (let index = 1; index <= pagination.totalPages; index++) 
                li(class=("page-item" + (pagination.currentPage == index ? " active" : "")))
                  a(class="page-link" href=`/admin/management/staff?page=${index}`) #{index}
            if(pagination.currentPage < pagination.totalPages)
              li(class="page-item")
                a(class="page-link" href=`/admin/management/staff?page=${pagination.currentPage+1}`) Trang sau